<!DOCTYPE html>
<html lang="en">

<!--
    Coded with passion by "Pakodev"
    Email at:   pakodev.info@gmail.com
    Or message me on X (twitter):   https://x.com/dev_pakodev
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Site Icon -->
    <link rel="icon" type="image/x-icon" href="/Images/site-icon.jpg">
    
    <!-- Author -->
    <meta name="author" content="Pakodev | pakodev.info@gmail.com">
    
    <!-- Title -->
    <title>The Gen Z Knowledge Blog</title>
    <meta name="description" content="A Blog for Gen Z about the Past, Present, and Future of Knowledge, Science, Wisdom, and Values">
    <meta name="keywords" content="College, Library, Courses, Blog, DigitalLibrary, Books, OnlineCourses, Articles, Technology, News, History, Medical, Philosophy, Startups, Academia, Knowledge, Mathematics, Mobiles, Computers, Gaming, Language, Programming, Computation, Designing, Business, Money, Innovations, Media, Cinema, App Launch, Hardware, ArtificialIntelligence, AI, ML, LLMs, Universities, Colleges, Schools, Past, Present, Future, Wisdom, Values">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="/Styles/globals.css">
    <link rel="stylesheet" href="/Styles/header.css">
    <link rel="stylesheet" href="/Styles/footer.css">
    <link rel="stylesheet" href="/Styles/index.css">

    <!-- JavaScripts -->
    <script defer src="/Scripts/topNavToggle.js"></script>
    <script defer src="/Scripts/themeToggle.js"></script>

</head>
<body>

    <!-- Header -->
    <%- include('_header') %>

    <!-- Main -->
    <main class="main">

        <!-- Search Bar -->
        <form class="search-form" action="/blog/search" method="GET">
            <input class="search-bar" type="text" placeholder="Search for anything..." name="searchQuery">
            <button class="search-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></button>
        </form>

        <!-- Categories Bar -->
        <div class="categories-listdiv">
            <ul class="categories-list">
                <li><a href="/blog" class="category">All</a></li>
                <li><a href="/blog/category/News" class="category">News</a></li>
                <li><a href="/blog/category/Academia" class="category">Academia</a></li>
                <li><a href="/blog/category/Mathematics" class="category">Mathematics</a></li>
                <li><a href="/blog/category/Medical" class="category">Medical</a></li>
                <li><a href="/blog/category/Technology" class="category">Technology</a></li>
                <li><a href="/blog/category/Philosophy" class="category">Philosophy</a></li>
                <li><a href="/blog/category/Artificial Intelligence" class="category">Artificial Intelligence</a></li>
                <!-- <li><a href="/blog/Designing" class="category">Designing</a></li>
                <li><a href="/blog/Future" class="category">Future</a></li>
                <li><a href="/blog/Languages" class="category">Languages</a></li>
                <li><a href="/blog/Programming" class="category">Programming</a></li>
                <li><a href="/blog/Economy" class="category">Economy</a></li>
                <li><a href="/blog/History" class="category">History</a></li>
                <li><a href="/blog/Politics" class="category">Politics</a></li>
                <li><a href="/blog/Mobiles" class="category">Mobiles</a></li>
                <li><a href="/blog/Computers" class="category">Computers</a></li>
                <li><a href="/blog/Computation" class="category">Computation</a></li>
                <li><a href="/blog/Gaming" class="category">Gaming</a></li>
                <li><a href="/blog/Money" class="category">Money</a></li>
                <li><a href="/blog/Innovations" class="category">Innovations</a></li>
                <li><a href="/blog/Media" class="category">Media</a></li>
                <li><a href="/blog/Cinema" class="category">Cinema</a></li>
                <li><a href="/blog/App Launch" class="category">App Launch</a></li>
                <li><a href="/blog/Artificial Intelligence" class="category">Artificial Intelligence</a></li> -->
            </ul>
        </div>

        <% if (locals.article == 0) { %>
            <h3>Sorry! No Results</h3>
        <% } %>

        <!-- Blog Section -->
        <div class="blog-sec">
            <% article.forEach(article => { %>
                <a href="/blog/<%= article.slug %>"><div class="blog-blogbox">
                    <img src="/blog/article-thumbnail/<%= article.articleThumbnail %>" alt="<%= article.title %>" class="article-thumbnail">
                    <div class="blog-arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></div>
                    <div class="blog-title"><%= article.title %></div>
                </div></a>
            <% }) %>
        </div>

    </main>

    <!-- Footer -->
    <%- include('_footer') %>

</body>
</html>